*~
*#*
autom4te.cache
build
compile
config.h
configure
depcomp
.deps
.dirstamp
INSTALL
install-sh
*.kate-swp
*.la
.libs
libtool
*.lo
ltmain.sh
*.m4
Makefile
Makefile.in
missing
*.o
stamp-h1
.svn
.*.swp
*.zim
examples/createZimExample
src/tools/zimdump
src/tools/zimsearch
libzim.pc
test-driver
test/zimlib-test*
test/test-suite.log
