#!/usr/bin/make -f
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# Skip some extremely memory-intensive tests
export SKIP_BIG_MEMORY_TEST=1
%:
	dh $@ --buildsystem=meson

# Increase test timeout
override_dh_auto_test:
	dh_auto_test -- -t 3
