name: Packages

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build-deb:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        distro:
          - debian-unstable
          - debian-bullseye
          - debian-buster
          - ubuntu-kinetic
          - ubuntu-jammy
          - ubuntu-focal
          - ubuntu-bionic
    steps:
      - uses: actions/checkout@v3

      # Determine which PPA we should upload to
      - name: PPA
        id: ppa
        run: |
          if [[ $REF == refs/tags* ]]
          then
            echo "::set-output name=ppa::kiwixteam/release"
          else
            echo "::set-output name=ppa::kiwixteam/dev"
          fi
        env:
          REF: ${{ github.ref }}

      - uses: legoktm/gh-action-auto-dch@master
        with:
          fullname: Kiwix builder
          email: release+launchpad@kiwix.org
          distro: ${{ matrix.distro }}

      - uses: legoktm/gh-action-build-deb@debian-unstable
        if: matrix.distro == 'debian-unstable'
        name: Build package for debian-unstable
        id: build-debian-unstable
        with:
          args: --no-sign

      - uses: legoktm/gh-action-build-deb@debian-bullseye
        if: matrix.distro == 'debian-bullseye'
        name: Build package for debian-bullseye
        id: build-debian-bullseye
        with:
          args: --no-sign

      - uses: legoktm/gh-action-build-deb@debian-buster
        if: matrix.distro == 'debian-buster'
        name: Build package for debian-buster
        id: build-debian-buster
        with:
          args: --no-sign

      - uses: legoktm/gh-action-build-deb@ubuntu-kinetic
        if: matrix.distro == 'ubuntu-kinetic'
        name: Build package for ubuntu-kinetic
        id: build-ubuntu-kinetic
        with:
          args: --no-sign
          ppa: ${{ steps.ppa.outputs.ppa }}

      - uses: legoktm/gh-action-build-deb@ubuntu-jammy
        if: matrix.distro == 'ubuntu-jammy'
        name: Build package for ubuntu-jammy
        id: build-ubuntu-jammy
        with:
          args: --no-sign
          ppa: ${{ steps.ppa.outputs.ppa }}

      - uses: legoktm/gh-action-build-deb@ubuntu-focal
        if: matrix.distro == 'ubuntu-focal'
        name: Build package for ubuntu-focal
        id: build-ubuntu-focal
        with:
          args: --no-sign
          ppa: ${{ steps.ppa.outputs.ppa }}

      - uses: legoktm/gh-action-build-deb@ubuntu-bionic
        if: matrix.distro == 'ubuntu-bionic'
        name: Build package for ubuntu-bionic
        id: build-ubuntu-bionic
        with:
          args: --no-sign
          ppa: ${{ steps.ppa.outputs.ppa }}

      - uses: actions/upload-artifact@v3
        with:
          name: Packages for ${{ matrix.distro }}
          path: output

      - uses: legoktm/gh-action-dput@master
        name: Upload dev package
        # Only upload on pushes to main
        if: github.event_name == 'push' && github.event.ref == 'refs/heads/main' && startswith(matrix.distro, 'ubuntu-')
        with:
          gpg_key: ${{ secrets.LAUNCHPAD_GPG }}
          repository: ppa:kiwixteam/dev
          packages: output/*_source.changes

      - uses: legoktm/gh-action-dput@master
        name: Upload release package
        # Only upload on pushes to master or tag
        if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags') && startswith(matrix.distro, 'ubuntu-')
        with:
          gpg_key: ${{ secrets.LAUNCHPAD_GPG }}
          repository: ppa:kiwixteam/release
          packages: output/*_source.changes
